html, body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.new-line {
  margin-top: 10px;
}

.top-banner {
  background-color: #fff;
  position:fixed;
  top:0;
  width:100%;
  z-index:100;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.top-banner-logo {
  display: inline-block;
  max-width: 30%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.top-banner-logo img {
  width: 75px;
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
}

.top-banner-text {
  display: inline-block;
  max-width: 70%;
  height: 100%;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.top-banner-text h1 {
  padding: 0px;
  margin: 0px;
  margin: auto;
}

.terminal {
  font-family: Andale Mono, Courier New, Courier;
  color: #a4c739;
  font-size: 60px;
}

.alert-danger,
  .alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.centeredImgDiv {
  margin: auto;
  width: 640px;
  max-width: 100%;
  display: block;
}

.fotorama__wrap--slide {
  margin: auto;
}

@media only screen and (max-width: 566px) {
  .top-banner-text h1 {
    font-size: 2em;
  }
  
  .top-banner-logo img {
    width: 50px;
  }
}