.new-line {
  margin-top: 10px;
}

.top-banner-logo {
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.top-banner-text {
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
  margin-left: 50px;
}

.terminal {
  font-family: Andale Mono, Courier New, Courier;
  color: #a4c739;
  font-size: 60px;
}

.alert-danger,
  .alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.centeredImgDiv {
  margin: auto;
  width: 640px;
  max-width: 100%;
  display: block;
}

.fotorama__wrap--slide {
  margin: auto;
}