<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
  	<meta http-equiv="content-style-type" content="text/css">
  	<meta http-equiv="content-type" content="text/html; charset=utf-8">
    <script src='/plugins/jquery/jquery-1.11.1.min.js'></script>
    <script src='/plugins/bootstrap/js/bootstrap.min.js'></script>
    <link href='/plugins/bootstrap/css/bootstrap.min.css' rel='stylesheet'>
  	<title>Page Not Found · Captain ADB</title>
  	<link rel="icon" href="/img/favicon.png">
    <style type="text/css">
      body {
        font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
      }
      h1 {
        margin: 10px 0px;
      }
      p {
        color: #565a5c;
        font-size: 28px;
        font-weight: normal;
        line-height: 1.1;
        text-rendering: optimizelegibility;
      }
    </style>
  </head>
  <body style="background-color: #a4c639;">
    <div id="container" style="padding: 15;">
      <div id="content" style="float: left; width: 400px; padding: 12px;">
        <div id="title" style="width: 0; min-width: 100%;">
          <h1 style="font-size: 100px; font-weight: 900;">Huh?!</h1>
        </div>
    		<p>Sorry, I don't know what you're talking about.</p>
        <p style="color: #f20075; font-size: 16px;">Error: 404 Not Found</p>
        <p><a href="javascript:history.back()">Go Back</a>  or  <a href="/">Go Home</a></p></p>
      </div>
      <div id="image" style="height: auto; margin: 20px;">
        <img src="/img/captain_android_in_lost.png" width="400" style="max-width: 100%; height: auto;">
      </div>
    </div>
  </body>
</html>