<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
  	<meta http-equiv="content-style-type" content="text/css">
  	<meta http-equiv="content-type" content="text/html; charset=utf-8">
  	<title>Captain · Not Found (404)</title>
  	<link rel="icon" href="/img/favicon.png">
  </head>
  <body style="background-color:#a4c639;">
    <div id="container">
      <img src="/img/captain_android_in_lost.png" width="400" style="float:left;margin:50px">
      <div id="content" style="margin:50px">
    		<h1>Not Found</h1>
    		<p>Sorry, but I don't know what you're talking about.</p>
        <a href="#back"><span class="go-back">Go Back</span></a>
        <p>or</p>
        <a href="/">Go Home</a></p>
      </div>
    </div>
  </body>
</html>