:javascript
  $(function() {
    $( "#packageName" ).autocomplete({
      source: #{@installed_packages}
    });
  });
- if flash[:error]
  %div{:class => "alert alert-error new-line"}
    %button{:type => "button", :class => "close", :"data-dismiss" => "alert"} &times;
    <strong>Error!</strong> #{flash[:error]}
%form{:role => "form", :action => '/api/applications/', :method => 'post'}
  %div{:class => "form-group"}
  %label{:for => "packageName"} Application Package Name
  %div{:class => "new-line ui-widget"}
    %input{:type => "text", :class => "form-control", :id => "packageName", :name => "package_name", :placeholder => "com.example.application"}
  %div{:class => "new-line"}
    %button{:type => "submit", :class => "btn btn-success center-block"} Select
%br
%strong Chosen Device:&nbsp;
%em #{session[:device_sn]}