!!! 5
%html{:lang => "en"}
  %head
    %meta{ :charset => "utf-8" }
    %script{ :src => '/js/jquery/jquery-1.11.1.min.js' }
    %script{ :src => '/js/bootstrap/bootstrap.min.js' }
    %link{ :href => '/css/bootstrap/bootstrap.css', :rel => 'stylesheet' }
    %link{ :href => '/css/my/style.css', :rel => 'stylesheet' }
    - if defined? @use_jquery_ui
      %script{ :src => '/js/jquery/jquery-ui.min.js' }
      %link{ :href => '/css/jquery/jquery-ui.css', :rel => 'stylesheet' }
    - if defined? @use_d3
      %script{ :src => '/js/d3/d3.v3.min.js', :charset => 'utf-8' }
    - if defined? @use_fotorama
      %script{ :src => '/js/fotorama/fotorama.js' }
      %link{ :href => '/css/fotorama/fotorama.css', :rel => 'stylesheet' }
    %title Captain ADB
  %body
    %div{:class => "container-fluid"}
      = yield