%html{:lang => "en"}
  %head
    :javascript
      window.setTimeout(function(){window.location.reload();}, 1500);
%h1 Devices List
%table{:class => "table table-striped"}
  %thead
    %tr
      %td Serial Number
      %td Manufacturer
      %td Brand
      %td Model
  %tbody
    - devices.each_pair do |sn, details|
      %tr
        %td= sn
        %td= details['manufacturer']
        %td= details['brand']
        %td= details['model']