%div{:class => "container-fluid"}
  - if flash[:error]
    %div{:class => "alert alert-error new-line"}
      %button{:type => "button", :class => "close", :"data-dismiss" => "alert"} &times;
      <strong>Error!</strong> #{flash[:error]}
  %h1 Specify the application
  %form{:role => "form", :action => '/application/', :method => 'post'}
    %div{:class => "form-group"}
    %label{:for => "packageName"} Application Package Name
    %div{:class => "new-line"}
      %input{:type => "text", :class => "form-control", :id => "packageName", :name => "package_name", :placeholder => "com.example.application"}
    %div{:class => "new-line"}
      %button{:type => "submit", :class => "btn btn-default"} Submit
  %br
  %strong App Under Test:&nbsp;
  %em #{session[:package_name]}