.new-line {
  margin-top: 10px;
}

.alert-danger,
  .alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.centeredImgDiv {
  margin: auto;
  width: 640px;
  max-width: 100%;
  display: block;
}

.fotorama__wrap--slide {
  margin: auto;
}

.notification {
  display: none;
  background-color: #a4c739;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  font-family: Helvetica;
  font-size: 1.5em;
}